#table, th, td{
    border: 1px solid black;
}
#form2{
    display:none;
}

#nameOfSuite{
    color:yellow;
    display:center;

}

#form1{
    display:inline-block;
}

#information, #seconds{
    color:red;
}

