#table, th, td{
    border: 1px solid black;
}
#form2{
    display:none;
}

#nameOfSuite{
    color:yellow;
    display:center;

}

#form1{
    display:inline-block;
}

#information, #seconds{
    color:red;
}

.node text { font: 12px sans-serif; }

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
}

.links {
    fill: none;
   stroke: #ccc;
   stroke-width: 5px;
}

.nodes {
   stroke-width: 2px;
}
