<!DOCTYPE html>
<html>

<head>
	<title>
		Cylc Workflow Index Page
	</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://code.jquery.com/jquery-2.2.3.js"
      integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="
	  crossorigin="anonymous">
	</script>

	<script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
	<script type="text/javascript"
			src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
	</script>
	<script type="text/javascript" src="../static/script.js"></script>
</head>

    <!--MENU BAR -->
    <div id="navbar">
        
        <button class = "fa fa-stop" onClick="stopSuite()"></button>
        <button class = "fa fa-pause" onClick="pauseSuite()"></button>
        <button class = "fa fa-play" onClick="playSuite()"></button>
        
        <h1 id="nameOfSuite"></h1>
        
        <div id="updated"> Last Updated:&nbsp;
		    <div id ="information"></div></br>
            Seconds ago: <div id="seconds"> </div>
        </div>
    </div>

    <!-- BODY -->
    <body class="body">
        <!-- Form Data -->
        <div id="formData">
            <form>
                suiteName: <input id="suiteName" type="text" name="suiteName"/>
                <input id="sendButton" type="button" name="index" value="If running on localhost" onClick="getLocalData()">

            </form>
        </div>
        
        <div id="formData">
            <form>
				HOSTNAME: <input id="hostName" type="text" name="hostName"/>
				PORT-NUMBER: <input id="portNumber" type="text" name="portNumber"/>
				<input id="sendButton" type="button" name="index" value="Send" onClick="getData()"/>
			</form>
        </div>

	    <!-- Table w. Color Statuses  -->
	    <table id="table">
		    <tr>
			    <th> runahead</th>
			    <th> waiting</th>
			    <th> held</th>
			    <th> queued</th>
			    <th> ready</th>
			    <th> expired</th>
			    <th> submitted</th>
			    <th> submit-failed</th>
			    <th> submit-retrying</th>
			    <th> running</th>
			    <th> succeeded</th>
			    <th> failed</th>
			    <th> retrying</th>
		    </tr>
		    <tr>
			    <td id="runahead"></td>
			    <td id="waiting"> </td>
			    <td id="held"> </td>
			    <td id="queued"></td>
			    <td id="ready"></td>
			    <td id="expired"></td>
			    <td id="submitted"></td>
			    <td id="submit-failed"></td>
			    <td id="submit-retrying"></td>
			    <td id="running"></td>
			    <td id="succeeded"></td>
			    <td id="failed"></td>
			    <td id="retrying"></td>
		    </tr>
	    </table>

        <!-- TODO: @karina tasks -->
        <table id = "tasks">

        </table>
	    <ul>
		    <p id="node1"></p>
            <p id ="node2"></p>
		    <p id ="node3"></p>
		    <p id="node4"></p>
            <p id ="node5"></p>
		    <p id ="node6"></p>
        </ul>


	     <svg id="nodes" width="550" height="500">
        </svg>

    </body>

</html>
