<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <style>
            /*Does not work using flask. Must create function to grab path
            /*@import url("style.css");*/

            <style type=text/css>{{ get_resource_as_string('static/styles.css') }}</style>
           
        </style>
        <!-- extend base layout -->

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script src="../static/script.js"></script> 
        
    </head>
    <body>
         <br /><br />
        <div id="wrapper">
<!--             <input id = "runahead" type="text" name="suite name" size="50" placeholder="csumb.demo (dummy) - {{total_tasks}} tasks" value="" id="suite_name">
            <input id = "runahead" type="text" name="suite id" size="72" placeholder="cylc-monitor a3ebb403-6695-41cc-99e1-6aa4d3dbeeae" value=""> -->
            <p id = "runahead">csumb.demo (dummy) - {{total_tasks}} tasks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cylc-monitor a3ebb403-6695-41cc-99e1-6aa4d3dbeeae </p>
            <div>
                <p class="padding"><span id="runahead">runahead</span><span id="waiting">waiting</span><span id="held">held</span><span id="queued">queued</span><span id="ready">ready</span><span id="expired">expired</span><span id="submitted">submitted</span><span id="submitted-failed">submitted-failed</span><span id="submitted-retrying">submitted-retrying</span><span id="running">running</span><span id="succeeded">succeeded</span><span id="failed">failed</span><span id="retrying">retrying</span></p>
            </div>

                {% if update %}
                update:&nbsp; <span id ="time"> {{update}} </span>
                {% endif %}

                <br />
                state summary:                     
                            {% for state, color in states %}
                                {%if state == "runahead" %}
                                    <span id = "runahead" >&nbsp;{{color}}&nbsp;</span>
                                {% elif state == "waiting" %}
                                    <span id = "waiting" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "held" %}
                                    <span id = "held" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "queued" %}
                                    <span id = "queued" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "ready" %}
                                    <span id = "ready" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "expired" %}
                                    <span id = "expired" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "submitted" %}
                                    <span id = "submitted" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "submitted-failed" %}
                                    <span id = "submitted-failed" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "submitted-retrying" %}
                                    <span id = "submitted-retrying" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "running" %}
                                    <span id = "running" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "failed" %}
                                    <span id = "failed" >&nbsp;{{color}}&nbsp; </span>
                                {% elif state == "retrying" %}
                                    <span id = "retrying" >&nbsp;{{color}}&nbsp; </span>
                                {%else%}
                                    <span id = "succeeded">{{color}}</span>
                                {%endif%}
                                
                            {%endfor%}
                
                <br />
                <label><span id="divider">{{divider}}</span></label>


<!--                 <ul>
                    {% for labels, names in label %} -->


<!--                             <li id = "123">{{ labels }} : {{names}} </li>

                            
                    {% endfor %}
                </ul> -->
                    <ul style="list-style: none;">
                    {% for point_str, val in sorted_task_info_2 %}
                                     
                        <li> <span id="stamp">{{ point_str }} </span>:  
                        
                        {% for name, info in val.items() %}
                            {%if info is not none %}
                            {% if info[0] == "waiting" %}
                                <span id = "waiting" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "held" %}
                                <span id = "held" > {{info[2]}} </span>
                            {% elif info[0] == "queued" %}
                                <span id = "queued" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "ready" %}
                                <span id = "ready" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "expired" %}
                                <span id = "expired" > {{info[2]}} </span>
                            {% elif info[0] == "submitted" %}
                                <span id = "submitted" >&nbsp;{{info[2]}} </span>
                            {% elif info[0] == "submitted-failed" %}
                                <span id = "submitted-failed" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "submitted-retrying" %}
                                <span id = "submitted-retrying" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "running" %}
                                <span id = "running" > {{info[2]}} </span>
                            {% elif info[0] == "failed" %}
                                <span id = "failed" > {{info[2]}} </span>
                                <span> &nbsp;&nbsp; </span>
                            {% elif info[0] == "retrying" %}
                                <span id = "retrying" > &nbsp;{{info[2]}} </span>
                            {% elif info[0] == "succeeded" %}
                                <span id = "succeeded" > {{info[2]}} </span>
                            {%elif info[0] == "runahead" %}
                                <span id = "runahead"> {{info[2]}} </span>
                            {%else%}
                                NONE
                            {% endif %}
                            {% endif %}
                        {% endfor %}  
                        </li>
    
                    {% endfor %}
                    </ul>

        </div>
    </body>
</html>