<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <style>
            /*Does not work using flask. Must create function to grab path
            /*@import url("style.css");*/

            <style type=text/css>{{ get_resource_as_string('static/styles.css') }}</style>
           
        </style>
        <!-- extend base layout -->

            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script src="../static/script.js"></script> 
        
    </head>
    <body>
         <br /><br />
        <div id="wrapper">
            <input type="text" name="suite name" size="50" placeholder="csumb.demo (dummy) - 64 tasks" value="" id="suite_name">
            <input type="text" name="suite id" size="55" placeholder="cylc-monitor a3ebb403-6695-41cc-99e1-6aa4d3dbeeae" value="">
            <div>
                <p class="padding"><span id="runahead">runahead</span><span id="waiting">waiting</span><span id="held">held</span><span id="queued">queued</span><span id="ready">ready</span><span id="expired">expired</span><span id="submitted">submitted</span><span id="submitted-failed">submitted-failed</span><span id="submitted-retrying">submitted-retrying</span><span id="running">running</span><span id="succeeded">succeeded</span><span id="failed">failed</span><span id="retrying">retrying</span></p>
            </div>
            <form method="GET">
                <!-- updated: {{updated}} <input type="text" name="updated" placeholder="2017-09-06T16:57:31-07" value=""> -->
                updated: {{updated}}

                <br />
                state summary: {{ summary }}
                <br /><br />
                <label><span id="divider">______________________________________________________r_u_n_n_i_n_g__t_o__s_t_o_p__a_t__</span></label>
                <input type="text" name="stop time" class="stop_time" size="11" placeholder="20160101T0000Z" value="">
                <input type="text" name="time stamp" size="11" placeholder="20150101T0000Z" value="">
                <input type="text" id="suite_data" size="94" placeholder="suite information" value="">

          </form>
         
<!--             <p>{{ summary }} </p>
            <p>DATATEST: {{ dat }} </p>
            <p>MORETEST: {{ moredat }} </p> -->
        </div>
    </body>
</html>